
@media (max-width: 768px) {
  header {
      padding: 10px;
  }

  nav {
      gap: 5px;
  }

  h1 {
      font-size: 1.5rem;
  }

  h2 {
      font-size: 1.2rem;
  }

  .skills-container {
      flex-direction: column;
      align-items: center;
  }

  .skill {
      width: 90%; /* Ajusta a largura das habilidades */
  }

  .project {
      flex-direction: column;
      align-items: center;
  }
}

@media (max-width: 480px) {
  header {
      padding: 5px;
  }

  nav {
      font-size: 0.9rem;
  }

  h1 {
      font-size: 1.2rem;
  }

  h2 {
      font-size: 1rem;
  }

  p {
      font-size: 0.9rem;
  }
}



























}

